body {
    background-color: lightblue;
}

/* Grid of seperate squares */
.container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #f321b4;
    padding: 10px;
    margin: auto;
    cursor: move;
}

.q#q0 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.q#q1 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.q#q2 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.q#q3 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.q#q4 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.q#q5 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.q#q6 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.q#q7 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.q#q8 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

/* Gives top border */

#navbar,
#footer {
    width: 100%;
    height: 100px;
    background-color: midnightblue;
    position: fixed
}

#navbar:hover {
    background-color: #eed025;
}
#footer:hover {
    background-color: 	#9840e3;
}

#footer {
    bottom: 0
}


 .container:hover {
    background-color: #0099cc;
    margin: auto;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
} 
/* /* @keyframes shake {
    
    /* 50% { transform: translate(30px, 20px) rotate(0deg); }
     */  

.q#q5:hover {
    background-color: #bf4129;
}

.q#q6:hover {
    background-color: #666f21;
}

.q#q1:hover {
    background-color: #1400cc;
}

.q#q3:hover {
    background-color: #2682a4;
}

.q#q2:hover {
    background-color: #cc8500dc;
}

.q#q4:hover {
    background-color: #9e1c43;
}

.q#q7:hover {
    background-color: #4b9b79;
}

.q#q8:hover {
    background-color: #2682a4;
}

.q#q0:hover {
    background-color: #c551ee;
}
.startbutton:hover {
    position:relative;
    top:-15px;
    left:-35px;
    width:700px;
    height:auto;
    display:block;
    z-index:999;
  
}
/* .container {
height: 500px;
width:  500px;
} */


#q0,
#q1,
#q2,
#q3,
#q4,
#q5 {
    border-bottom: 10px solid black;
}

#q2,
#q5,
#q8,
#q1,
#q4,
#q7 {
    border-left: 10px solid black;
}

.winner {
    color: red;
}